@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema Mediares</h1><br>
    <img src="~/images/WhatsApp Image 2019-12-31 at 12.55.48.jpeg" alt="Mediares" width="400" height="350" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
